// #D41443; - accent-color
// #FFFFFF; - primary-text-color
// #FFB8CA; - bg hero
// #FFA5BA; - pretitle-text
// #000000; - black-text-color
// #907E82; - p-color
// #E5E5E5; - bg-products
// #FFB8CA; - bg-icecream-color
// #F0D1A5; - bg-icecoffee-color
// #C2E297; - bg-milkshakes-color
// #FFF5F6; - bg-howitsmade-color
// #E5E5E5; - bg-carusel-color
// #FAFAFA; - bg-text-carusel-color
// #F0D1A5; - bg-cafe-color
// #C2E297; - bg-foodtrack-color
// #FFFFFF; - bg-white-color
// #FFF5F6; - bg-footer-color
// #E17992; - bg-mobmenu-modal-color

:root {
    --accent-color: #D41443;
    --white-text-color: #FFFFFF;
    --pretitle-text-color: #FFA5BA;
    --p-text-color: #907E82;
    --black-text-color: #000000;
    --bg-hero: #FFB8CA;
    --bg-products: #E5E5E5;
    --bg-icecream-color: #FFB8CA;
    --bg-icecoffee-color: #F0D1A5;
    --bg-milkshakes-color: #C2E297;
    --bg-howitsmade-color: #FFF5F6;
    --bg-carusel-color: #E5E5E5;
    --bg-text-carusel-color: #FAFAFA;
    --bg-cafe-color: #F0D1A5;
    --bg-foodtrack-color: #C2E297;
    --bg-white-color: #FFFFFF;
    --bg-footer-color: #FFF5F6;
    --bg-mobmenu-modal-color: #E17992;
    --dots-color: #C7133E;
}