<section class="about overlay section-about" id="how"> 
    <div class="container about__container">
        <div class="about__titles">
            <p class="about__pre-title">tradition and love</p>
            <h2 class="about__title">how it’s made?</h2>
        </div>
        <div class="about__picture-text">
            <picture>
                <source
                    srcset="./images/about-cow-desktop-1x.png 1x, ./images/about-cow-desktop-2x.png 2x"
                    media="(min-width: 1280px)"/>
                <source
                    srcset="./images/about-cow-tablet-1x.png 1x, ./images/about-cow-tablet-2x.png 2x"
                    media="(min-width: 768px)"/>
                <source
                    srcset="./images/about-cow-mob-1x.png 1x, ./images/about-cow-mob-2x.png 2x"
                    media="(min-width: 320px)"/>
                <img class="about__picture-cow animate__animated animate__fadeInUp"
                    src="./images/about-cow-mob-1x.png" alt=" milk and cow" >
            </picture>
            <div class="about__text-btn">
                <div class="about__text">
                    <p class="about__text-one">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>
                    <p class="about__text-two">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
                    <p class="about__text-two three">Aliquam erat volutpat. Aenean accumsan.</p>
                </div> 
                <button class="about__btn" type="button" data-modal-open>Read more
                    <svg class="about__btn-icon" width="15" height="15">
                        <use
                        href="./images/sprite.svg#icon-arrow"
                        ></use>
                    </svg>
                </button>
            </div>
        </div>    
    </div>
</section>