<section class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-box">
    <span>CAFE</span>
    <div class="contacts-list">
        <p>Chicago</p>
        <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div class="contacts-list">
        <div>
        <p>Monday - Friday</p>
        <p>06:00 AM - 10:00 PM</p>
    </div>
    <div>
        <p>Saturday - Sunday</p>
        <p>08:00 AM - 16:00 PM</p>
    </div>
    </div>
    <ul>
        <li>
            <a class="" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li>
            <a class="" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
    </div>
</section>