<section id="contacts" class="section-contacts">
    <div class="contacts container animate__animated animate__fadeInUp">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-box">
        <div class="contacts-box_list">
    <span class="contacts-span_box">CAFE</span>
    <ul class="contacts-list">
        <li class="contacts-text">Chicago</li>
        <li class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
        </ul>
    <ul>
        <li class="contacts-text">Monday - Friday</li>
        <li class="contacts-time">06:00 AM - 10:00 PM</li>
        </ul>
    <ul class="contacts-list">
        <li class="contacts-text">Saturday - Sunday</li>
        <li class="contacts-time">08:00 AM - 16:00 PM</li>
        </ul>
    <ul>
        <li>
            <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li>
            <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
    </div>
    </div>
    
    <div class="contacts-box">
        <div class="contacts-box_list">
        <span class="contacts-span">FOODTRUCK</span>
        <ul class="contacts-list">
        <li class="contacts-text">Los Angeles</li>
        <li class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
        </ul>
        <ul>
    <li class="contacts-text">Monday - Friday</li>
        <li class="contacts-time">06:00 AM - 10:00 PM</li>
        </ul>
    <ul class="contacts-list">
        <li class="contacts-text">Saturday - Sunday</li>
        <li class="contacts-time">08:00 AM - 16:00 PM</li>
        </ul>
        <ul>
    <li>
        <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
    </li>
    <li>
        <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </li>
</ul>
</div>
</div>

<div class="contacts-box">
    <div class="contacts-box_list">
    <span class="contacts-span_box">CAFE</span>
    <ul class="contacts-list">
        <li class="contacts-text">New York</li>
        <li class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</li>
        </ul>
    <ul>
            <li class="contacts-text">Monday - Friday</li>
            <li class="contacts-time">06:00 AM - 10:00 PM</li>
            </ul>
        <ul class="contacts-list">
            <li class="contacts-text">Saturday - Sunday</li>
            <li class="contacts-time">08:00 AM - 16:00 PM</li>
            </ul>
            <ul>
        <li>
            <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li>
            <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
</div>
</div>
</div>

<ul class="contacts-btn_list">
    <li class="contacts-btn_list_modl"><button class="contacts-btn" type="button">Our Locations
        <svg class="contacts_icon-arrow__white">
            <use href="../src/images/sprite.svg#icon-arrow"></use>
        </svg>
    </button></li>
    <li class="contacts-btn_list_modl"><button class="contacts-btn_franchise" type="button">Franchise
        <svg class="contacts_icon-arrow">
            <use href="../src/images/sprite.svg#icon-arrow"></use>
        </svg>
    </button></li>
</ul>
</section>