<section class="container section-contacts">
    <div class="contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <div class="contacts-box">
        <div class="contacts-box_list">
    <span class="contacts-span_box">CAFE</span>
    <div class="contacts-list">
        <p class="contacts-text">Chicago</p>
        <p class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div class="contacts-list">
        <div>
        <p class="contacts-text">Monday - Friday</p>
        <p class="contacts-time">06:00 AM - 10:00 PM</p>
    </div>
    <div>
        <p class="contacts-text">Saturday - Sunday</p>
        <p class="contacts-time">08:00 AM - 16:00 PM</p>
    </div>
    </div>
    <ul>
        <li>
            <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li>
            <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
    </div>
    </div>
    
    <div class="contacts-box">
        <div class="contacts-box_list">
        <span class="contacts-span">FOODTRUCK</span>
        <div class="contacts-list">
        <p class="contacts-text">Los Angeles</p>
        <p class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
<div class="contacts-list">
    <div>
        <p class="contacts-text">Monday - Friday</p>
        <p class="contacts-time">06:00 AM - 10:00 PM</p>
    </div>
    <div>
        <p class="contacts-text">Saturday - Sunday</p>
        <p class="contacts-time">08:00 AM - 16:00 PM</p>
    </div>
</div>
<ul>
    <li>
        <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
    </li>
    <li>
        <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
    </li>
</ul>
</div>
</div>
<div class="contacts-box">
    <div class="contacts-box_list">
    <span class="contacts-span_box">CAFE</span>
    <div class="contacts-list">
        <p class="contacts-text">New York</p>
        <p class="contacts-list_text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div class="contacts-list">
        <div>
            <p class="contacts-text">Monday - Friday</p>
            <p class="contacts-time">06:00 AM - 10:00 PM</p>
        </div>
        <div>
            <p class="contacts-text">Saturday - Sunday</p>
            <p class="contacts-time">08:00 AM - 16:00 PM</p>
        </div>
    </div>
    <ul>
        <li>
            <a class="link tel-contacts" href="tel:+610383766284">+61(0) 383 766 284</a>
        </li>
        <li>
            <a class="link mail-contacts" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </li>
    </ul>
</div>
</div>
</div>
<ul class="contacts-btn_list">
    <li class="contacts-btn_list_modl"><button class="contacts-btn" type="button">Our Locations</button></li>
    <li class="contacts-btn_list_modl"><button class="contacts-btn_franchise" type="button">Franchise</button></li>
</ul>
    
</section>