<section class="customer-reviews">
    <img src="./images/review1.png" alt="User 1">
    <div class="customer-reviews-box">
        <p class="customer-reviews-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
            congue. Lorem ipsum primis in nibh vel risus.
        </p>
        <ul class="customer-reviews-list">
            <li class="customer-reviews-item"></li>
            <li></li>
            <li></li>
        </ul>
        <p class="customer-reviews-">Emily, Los Angeles</p>
    </div>
</section>