<section class="section section-customer-reviews customer-reviews">
    <h2 class="visually-hidden">Customer-reviews</h2>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container container-customer-reviews slider">
                    <img class="customer-img" src="./images/review1.png" alt="User 1">
                    <div class="customer-reviews-box slider-text-wrapper">
                        <p class="customer-reviews-text slider-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <ul class="customer-reviews-list">
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                    </ul>
                    <p class="customer-reviews-underlist">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container container-customer-reviews slider">
                    <img class="customer-img" src="./images/review2.png" alt="User 1">
                    <div class="customer-reviews-box slider-text-wrapper">
                        <p class="customer-reviews-text slider-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <ul class="customer-reviews-list">
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                    </ul>
                    <p class="customer-reviews-underlist">Amanda, New York</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container container-customer-reviews slider">
                    <img class="customer-img" src="./images/review3.png" alt="User 1">
                    <div class="customer-reviews-box slider-text-wrapper">
                        <p class="customer-reviews-text slider-text">
                            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                            quam nunc,
                            accumsan
                            congue. Lorem ipsum primis in nibh vel risus.
                        </p>
                    </div>
                    <ul class="customer-reviews-list">
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                        <li class="customer-reviews-item"></li>
                    </ul>
                    <p class="customer-reviews-underlist">Kira, London</p>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>