<footer class="">
    <div class="container footer-container">
        <div class="">
    <ul class="footer-item_list">
        <li class="footer-text">homemade ice cream</li>
        <li class="footer-text footer-text_item">made</li>
        </ul>
    <ul class="footer-item_list footer-item_list_text">
        <li class="footer-text_container">with</li>
        <li class="footer-text_container footer-text__item">passion</li>
    </ul>
    </div>
    <div>
    <ul class="footer-list_icon">
        <li class="footer-link-icon">
            <a href="https://github.com/" class="social-list__link link" rel="bookmarkrel" target="_blank" aria-label="Ссылка на github">
                <svg class="footer-icon" width="19" height="19">
            <use href="../src/images/sprite.svg#icon-github"></use>
        </svg></a></li>
        <li class="footer-link-icon">
            <a href="https://telegram.org/" class="social-list__link link" rel="bookmarkrel" target="_blank" aria-label="Ссылка на github">
                <svg class="footer-icon" width="19" height="15">
            <use href="../src/images/sprite.svg#icon-telegram"></use>
        </svg></a></li>
        <li class="footer-link-icon">
            <a href="https://facebook.com/" class="social-list__link link" rel="bookmarkrel" target="_blank" aria-label="Ссылка на github">
                <svg class="footer-icon" width="9" height="19">
            <use href="../src/images/sprite.svg#icon-facebook"></use>
        </svg></a></li>
    </ul>
    <span class="footer-tel_span">Feel free to contact<a class="link footer-tel" href="tel:+610383766284">+61 (0) 383 766 284</a></span>
    </div>
    </div>
    <div class="footer-border">
<p class="footer-item">&#169;2019 - IceCream.
    All Rights Reserved.</p>
    </div>
</footer>