<section class="section-gallery">
  <h2 class="visually-hidden">gallery</h2>
    <div class="container">
        <div class="imgs">
                        <picture>
                            <source
                              srcset="
                                ../src/images/par-deck-1x.png 1x,
                                ../src/images/par-deck-2x.png 2x
                              "
                              media="(min-width: 1200px)"
                            />
                            <source
                              srcset="
                              ../src/images/par-tab-1x.png  1x,
                              ../src/images/par-tab-2x.png  2x
                              "
                              media="(min-width: 768px)"
                            />
                            <source
                              srcset="
                                ../src/images/par-mob-1x.png 1x,
                                ../src/images/par-mob-2x.png 2x
                                "
                              media="(min-width: 320px)"
                            />
                            <img
                                class="image-mobile"
                                src="../src/images/par-mob-1x.png"
                                alt="Партфолио"
                            />
                          </picture>
        </div>
    </div>
</section>

