<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button type="button" class="close-btn" data-modal-close>
            X
        </button>
        <p class="modal-title">Leave your request and we will send you some <span class="modal-title-accent">ice cream</span></p>
        <form action="#" class="modal-form">
            <label for="modal-first-name" class="modal-label" >First name</label>
            <input type="text" class="modal-input" name="name" id="modal-first-name" placeholder="What is your name?" minlength="3" required>
            <label for="modal-last-name" class="modal-label">Last name</label>
            <input type="text" class="modal-input" id="modal-last-name" name="name" placeholder="What is your surname?" minlength="3" required>
            <label for="modal-tel" class="modal-label">Phone number</label>
            <input type="tel" class="modal-input" id="modal-tel" placeholder="+38-077-77-88-999" required>
            <label for="modal-email" class="modal-label">Email</label>
            <input type="email" class="modal-input" id="modal-email" placeholder="ILoveIceCream@mail.com" required />
            <button type="submit" class="modal-btn">Submit</button>
        </form>
    </div>
</div>