<section class="section-products">
  <div class="container">
    <p class="">100% NATURAL</p>
    <h2 class="">PRODUCTS</h2>
    <ul class="producks list">
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../src/images/product1-desktop-1x.png 1x,
              ../src/images/product1-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../src/images/product1-tablet-1x.png 1x,
              ../src/images/product1-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../src/images/product1-mob-1x.png 1x, ../src/images/product1-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            class="product-image"
            src="../src/images/product1-mob-1x.png"
            alt="rozovoe-morozhenoe"
            width="335"
          />
        </picture>
        <h3 class="">ICE CREAM</h3>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../src/images/product2-desktop-1x.png 1x,
              ../src/images/product2-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../src/images/product2-tablet-1x.png 1x,
              ../src/images/product2-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../src/images/product2-mob-1x.png 1x, ../src/images/product2-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            class="product-image"
            src="../src/images/product2-mob-1x.png"
            alt="krem-brule"
            width="335"
          />
        </picture>
        <h3 class="">ICE COFFEE</h3>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="products-item">
        <picture>
          <source
            srcset="
              ../src/images/product3-desktop-1x.png 1x,
              ../src/images/product3-desktop-2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ../src/images/product3-tablet-1x.png 1x,
              ../src/images/product3-tablet-2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="../src/images/product3-mob-1x.png 1x, ../src/images/product3-mob-2x.png 2x"
            media="(min-width: 320px)"
          />
          <img
            class="product-image"
            src="../src/images/product3-mob-1x.png"
            alt="shokoladnoe-morozhenoe"
            width="335"
          />
        </picture>
        <h3 class="">MILKSHAKES</h3>
        <p class="">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
