<section class="section-products" id="section-products">
  <div class="container">
    <p class="products-title-text">100% NATURAL</p>
    <h2 class="products-title">PRODUCTS</h2>
    <ul class="products-list list">
      <li class="products-item">
        <div class="products-container-card">
          <picture>
            <source
              srcset="
                ../src/images/product1-desktop-1x.png 1x,
                ../src/images/product1-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/product1-tablet-1x.png 1x,
                ../src/images/product1-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="../src/images/product1-mob-1x.png 1x, ../src/images/product1-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products-image"
              src="../src/images/product1-mob-1x.png"
              alt="rozovoe-morozhenoe"
            />
          </picture>
          <h3 class="products-title-name">ICE CREAM</h3>
          <div class="products-svg">
            <svg class="products-svg-tochki">
              <use href="./images/sprite.svg#icon-products-tochki"></use>
            </svg>
          </div>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products-button">
            <svg class="products-svg-strelka-image">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products-item">
        <div class="products-container-card ice-coffe">
          <picture>
            <source
              srcset="
                ../src/images/product2-desktop-1x.png 1x,
                ../src/images/product2-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/product2-tablet-1x.png 1x,
                ../src/images/product2-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="../src/images/product1-mob-1x.png 1x, 
                      ../src/images/product1-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products-image"
              src="../src/images/product2-mob-1x.png"
              alt="rozovoe-morozhenoe"
            />
          </picture>
          <h3 class="products-title-name">ICE COFFEE</h3>
          <div class="products-svg">
            <svg class="products-svg-tochki">
              <use href="./images/sprite.svg#icon-products-tochki"></use>
            </svg>
          </div>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products-button">
            <svg class="products-svg-strelka-image">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="products-item">
        <div class="products-container-card milkshakes">
          <picture>
            <source
              srcset="
                ../src/images/product3-desktop-1x.png 1x,
                ../src/images/product3-desktop-2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ../src/images/product3-tablet-1x.png 1x,
                ../src/images/product3-tablet-2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="../src/images/product3-mob-1x.png 1x, 
                      ../src/images/product3-mob-2x.png 2x"
              media="(min-width: 320px)"
            />
            <img
              class="products-image"
              src="../src/images/product3-mob-1x.png"
              alt="rozovoe-morozhenoe"
            />
          </picture>
          <h3 class="products-title-name">MILKSHAKES</h3>
          <div class="products-svg">
            <svg class="products-svg-tochki">
              <use href="./images/sprite.svg#icon-products-tochki"></use>
            </svg>
          </div>
          <p class="products-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et
          </p>
          <button type="button" class="products-button">
            <svg class="products-svg-strelka-image">
              <use href="./images/sprite.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
