.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}
.menu-inside {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #e17992;
  display: flex;
  flex-direction: column;
}
.menu-container.is-open {
  transform: translateX(0);
}
.mobile-btn {
  position: absolute;
  top: 23px;
  right: 28px;
  width: 25px;
  height: 25px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav-button {
  width: 209px;
  height: 44px;
  margin-left: 20px;
  //   margin-right: 20px;
  color: var(--accent-color);
  background-color: var(--bg-white-color);
  border-radius: 20px;
  border: none;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 19px;
  z-index: 20;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}
.mobile-nav-item {
  display: block;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  text-align: left;
  align-items: center;
  border: 1px solid #e18298;
}
.mobile-nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  color: var(--bg-white-color);
  text-decoration: none;
}
.mobile-link-active {
  color: var(--accent-color);
}
.close-btn-icon {
  fill: #fff;
}
