.section-hero {
    padding-bottom: 120px;
     @media screen and (min-width: 1200px) {
        padding-bottom: 135px;
     }
}

.section-products {
    padding-bottom: 100px;
     @media screen and (min-width: 768px) {
        padding-bottom: 110px;
     }
     @media screen and (min-width: 1200px) {
        padding-bottom: 120px;
     }
}

.section-about {
    padding-top: 125px;
    padding-bottom: 40px;
     @media  screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 70px;
     }
     @media screen and (min-width: 1200px) {
        padding-top: 135px;
        padding-bottom: 40px;
     }
}

.section-advantages {
    padding-bottom: 100px;
    background-image: linear-gradient(90deg, var(--bg-footer-color) 39.83%, 
    var(--bg-white-color) 60.17% );
     @media screen and (min-width: 768px) {
        padding-bottom: 140px;
     }
}

.section-gallery {
    padding-bottom: 80px;
     @media screen and (min-width: 768px) {
        padding-bottom: 120px;
     }
}

.section-customer-reviews {
    padding-bottom: 90px;
     @media screen and (min-width: 768px) {
        padding-bottom: 120px;
     }
     @media screen and (min-width: 1200px) {
        padding-bottom: 130px;
     }
}

.section-contacts {
    padding-bottom: 110px;
    background-image: linear-gradient(90deg, var(--bg-white-color) 5.7%, 
    var(--bg-footer-color) 94.3% );
     @media screen and (min-width: 768px) {
        padding-bottom: 160px;
     }
}