
.section-products {
    padding-top: 120px;
    padding-bottom: 110px;
     @media screen and (min-width: 1280px) {
        padding-top: 135px;
        padding-bottom: 120px;
     }
}

.section-about {
    padding-top: 120px;
    padding-bottom: 20px;
     @media  screen and (min-width: 768px) {
        padding-top: 130px;
        padding-bottom: 35px;
     }
     @media screen and (min-width: 1280px) {
        padding-top: 125px;
        padding-bottom: 20px;
     }
}

.section-advantages {
    padding-top: 20px;
    padding-bottom: 110px;
     @media screen and (min-width: 768px) {
        padding-top: 35px;
        padding-bottom: 140px;
     }
     @media screen and (min-width: 1280px) {
        padding-top: 20px;
        padding-bottom: 140px;
     }
}

.section-gallery {
    background-image: linear-gradient(to bottom, var(--bg-footer-color) 39.83%, 
    var(--bg-white-color) 33.17% );
}

.section-customer-reviews {
    padding-top: 80px;
    padding-bottom: 40px;
     @media screen and (min-width: 768px) {
        padding-top: 120px;
        padding-bottom: 60px;
     }
     @media screen and (min-width: 1280px) {
        padding-bottom: 65px;
     }
}

.section-contacts {
    padding-top: 40px;
    padding-bottom: 110px;
    background-image: linear-gradient(to bottom , var(--bg-white-color) 7%, 
    var(--bg-footer-color) 0% );
     @media screen and (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 80px;
        background-image: linear-gradient(to bottom , var(--bg-white-color) 19%, 
    var(--bg-footer-color) 0% )
     }  

}
.footer {
    @media screen and (min-width: 768px) {
        padding-top: 80px;
    }
}