.overlay {
  background-color: var(--bg-footer-color);
  background-image: url(../images/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  flex-grow: 1;
  text-align: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about-bg-mob-2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about-bg-desktop-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about-bg-desktop-2x.png);
    }
  }
}
.about__titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__pre-title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: var(--pretitle-text-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 26px;
  width: 200px;
  @media screen and (min-width: 481px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}
.about__text-btn {
  text-align: start;
}

.about__picture-text {
  @media screen and (min-width: 768px) {
    display: flex;
    .about__text-btn {
      margin-top: 50px;
      margin-left: 17px;
      width: 50%;
    }
  }
  @media screen and (min-width: 1280px) {
    .about__text-btn {
      margin-top: 51px;
      margin-left: 74px;
    }
  }
}
.about__text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  padding-left: 40px;
  padding-right: 40px;

  @media screen and (min-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.about__text-one {
  color: var(--black-text-color);
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}
.about__text-two {
  color: var(--p-text-color);
  margin-bottom: 10px;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.78;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 1.92;
  }
}
.about__btn {
  height: 44px;
  padding-left: 37px;
  padding-right: 56px;
  border: none;
  border-radius: 22px;
  background-color: var(--bg-white-color);
  color: var(--accent-color);
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  margin-top: 47px;
  margin-left: 40px;
  position: relative;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
  @media screen and (min-width: 768px) {
    margin-top: 62px;
    margin-left: 0;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 45px;
    margin-left: 0;
  }
}
.about__btn-icon {
  fill: none;
  stroke: var(--accent-color);
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}
