.overlay {
  background-color: var(--bg-footer-color);
  background-image: url(../images/about-bg-mob-1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  margin: 0 auto;
  max-width: 1600px;
  flex-grow: 1;
  text-align: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/about-bg-mob-2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: none;
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about-bg-desktop-1x.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about-bg-desktop-2x.png);
    }
  }
}
.about__pre-title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  color: var(--pretitle-text-color);
  text-transform: uppercase;
  margin-bottom: 15px;
}
.about__title {
  font-family: 'Titan One';
  font-style: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  text-transform: uppercase;
  margin-bottom: 26px;
}
.about__text {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  text-align: start;
  padding-left: 40px;
  padding-right: 40px;
}
.about__text-one {
  color: var(--black-text-color);
  margin-bottom: 47px;
}
.about__text-two {
  color: var(--p-text-color);
  margin-bottom: 10px;
}
.about__btn {
  height: 44px;
  padding-left: 37px;
  padding-right: 56px;
  border: none;
  border-radius: 50px;
  background-color: var(--bg-white-color);
  color: var(--accent-color);
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  margin-top: 47px;
  margin-bottom: 39px;
  &::after {
    content: '>';
    color: var(--accent-color);
    margin-left: 13px;
    font-size: 20px;
    text-align: center;
  }
}
