.advantages {
  background-color: var(--bg-footer-color);
}
.advantages__list {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.advantages__item::before {
  display: block;
  content: '';
  height: 50px;
  background-repeat: no-repeat;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
.advantages-icon1::before {
  background-image: url(../images/advantages-icon1.png);
}
.advantages-icon2::before {
  background-image: url(../images/advantages-icon2.png);
}
.advantages-icon3::before {
  background-image: url(../images/advantages-icon3.png);
}

.advantages__item:not(:last-child) {
  margin-bottom: 38px;
  @media screen and (min-width: 768px) {
    margin-right: 67px;
    margin-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 30px;
  }
}
.advantages__number {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);
  @media screen and (min-width: 768px) {
    font-size: 48px;
    text-transform: none;
  }
  @media screen and (min-width: 1280px) {
    font-size: 68px;
  }
}
.advantages__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.70;
  width: 230px;
  margin-top: 18px;
  color: var(--black-text-color);
  @media screen and (min-width: 321px) {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    width: 180px;
    font-size: 14px;
    line-height: 1.74;
    margin-top: 13px;
  }
  @media screen and (min-width: 1280px) {
    width: 330px;
    font-size: 16px;
    line-height: 1.76;
    margin-top: 15px;
  }
}




