.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contacts-list {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.contacts-box {
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  width: 220px;
  height: 427px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:767px) and (max-width: 1279px) {
    width: 220px;
    height: 544px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @media screen and(min-width:1279px) {
    height: 572px;
    width: 330px;
    margin: 15px;
  }
}

.contacts-span {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  justify-content: center;
  margin-bottom: 25px;

  color: var(--white-text-color);
  width: 130px;
  height: 16px;
  background: #c2e297;
  border-radius: 4px;
  @media screen and(min-width:767px) {
    font-size: 16px;
    width: 138px;
    height: 28px;
  }
}

.contacts-span_box {
  background: var(--bg-icecoffee-color);
  border-radius: 4px;
  width: 80px;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  /* or 22px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  justify-content: center;
  margin-bottom: 25px;

  color: #ffffff;
  @media screen and(min-width:767px) {
    font-size: 16px;
    width: 73px;
    height: 28px;
  }
}

.contacts-box_list {
  margin: 43px 20px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    margin: 50px 30px;
  }
  @media screen and(min-width:1279px) {
    margin: 51px 43px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 54px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 81px;
  }
  @media screen and(min-width:1279px) {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 86px;
  }
}

.contacts-time {
  color: var(--pretitle-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 25px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.contacts-text {
  color: var(--black-text-color);
  font-family: DM Sans;
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  line-height: 1.8;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.contacts-list_text {
  color: var(--p-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 25px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.tel-contacts {
  color: var(--p-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.mail-contacts {
  color: var(--p-text-color);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.contacts-btn {
  background: var(--accent-color);
  border-radius: 22px;
  width: 161.45px;
  height: 44px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 10px;
  color: var(--white-text-color);
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #ffa5ba;
  }
  @media screen and(min-width:767px) and(max-width:1279px) {
    margin-bottom: 0;
    width: 191.45px;
    height: 44px;
    margin-right: 15px;
  }
  @media screen and(min-width:1279px) {
    margin-bottom: 0;
    width: 198px;
    height: 44px;
    margin-right: 15px;
  }
}

.contacts-btn_franchise {
  background: var(--white-text-color);
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.3;
  width: 161px;
  height: 44px;
  color: var(--accent-color);
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  &:hover,
  &:focus {
    background: #ecebeb;
  }
  @media screen and(min-width:767px) {
    width: 191.45px;
    height: 44px;
  }
}
.contacts-btn_list {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and(min-width:767px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
.contacts_icon-arrow {
  fill: none;
  stroke: var(--accent-color);
  width: 15px;
  height: 15px;
}

.contacts_icon-arrow__white {
  fill: none;
  stroke: var(--white-text-color);
  width: 15px;
  height: 15px;
}
