.customer-reviews {
    padding-top: 80px;
    padding-bottom: 80px;
}

// .container-customer-reviews {
//     background-color: var(--bg-carusel-color);
// }

.customer-img {
    margin: 0 auto;
}

.customer-reviews-box {
    margin-top: 30px;
    margin-bottom: 30px;
    // background-color: --bg-text-carusel-color;
    background-color: #c9c4c4;

}

.customer-reviews-text {
    
    // font-family: DM Sans;
    // font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.58;
    text-align: center;
    padding: 43px 60px 26px;
    width: 157px;
}

.customer-reviews-list {
    display: flex;
    justify-content: center;
    width: 100%;
    
    
}

.customer-reviews-item {
    // position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: var(--dots-color);
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.customer-reviews-underlist {
    text-align: center;
    margin-top: 18px;
}