.footer-text {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;

  color: var(--pretitle-text-color);
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 26px;
  }
  @media screen and(min-width:1279px) {
    font-size: 30px;
  }
}

.footer-text_container {
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--accent-color);
  @media screen and(min-width: 767px) and(max-width: 1279px) {
    font-size: 48px;
  }
  @media screen and(min-width:1279px) {
    font-size: 58px;
  }
}

.footer-list_icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 46px;
  @media screen and(min-width:1279px) {
    margin-bottom: 50px;
  }
}

.footer-link-icon {
  width: 32px;
  height: 32px;
  &:not(:last-child) {
    margin-right: 28px;
  }
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
    &:not(:last-child) {
    margin-right: 30px;
    }
  }
  @media screen and (min-width: 1280px) {
    &:not(:last-child) {
    margin-right: 24px;
    }
  }
}


.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-text-color);
}

.footer-tel_span {
  display: flex;
  justify-content: flex-end;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  color: var(--black-text-color);
  margin-bottom: 43px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}
.footer-tel {
  color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.86;
  font-family: DM Sans;
  margin-left: 5px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    font-size: 14px;
  }
  @media screen and(min-width:1279px) {
    font-size: 16px;
  }
}

.footer-border {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e1e1e1;
}
.footer-item {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  width: 134px;
  text-align: center;
  padding-top: 22px;
  color: var(--p-text-color);
  padding-bottom: 25px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    padding-top: 29px;
    padding-bottom: 18px;
    width: 100%;
  }
  @media screen and(min-width:1279px) {
    padding-top: 9px;
    padding-bottom: 10px;
    width: 100%;
  }
}

.footer-text_item {
  margin-bottom: 16px;
}

.footer-text__item {
  padding-bottom: 43px;
  @media screen and(min-width:767px) and(max-width:1279px) {
    padding-bottom: 91px;
  }
  @media screen and(min-width:1279px) {
    margin-left: 10px;
    padding-bottom: 0px;
  }
}
footer {
  background-color: var(--bg-howitsmade-color);
}

.footer-container {
  @media screen and(min-width:767px) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-item_list {
  @media screen and(min-width:1279px) {
    display: flex;
  }
}

.footer-item_list_text {
  @media screen and(min-width:1279px) {
    padding-bottom: 97px;
  }
}

.social-list__link {
  background: #fea5bb;
  border-radius: 50%;
  // margin-right: 28px;
  // width: 32px;
  // height: 32px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: var(--accent-color);
  }
  // @media screen and(min-width:767px) {
  //   width: 34px;
  //   height: 34px;
  // }
}
