.products-title-text {
    font-family: Titan One;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: var(--pretitle-text-color);
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 26px;
        line-height: 1.15;
    }

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products-title {
    font-family: Titan One;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-color);
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
        font-size: 48px;
        line-height: 1.14;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        line-height: 1.13;
    }
}

.products-list {
    width: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
    }
}

.products-button {
    width: 40px;
    height: 40px;
    background-color: var(--bg-white-color);
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    cursor: pointer;
        &:hover,
        &:focus {
            border: 4px solid var(--bg-white-color);
            background-color: var(--accent-color);
            transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
                fill: var(--bg-white-color);
        }
}


.products-svg-strelka-image {
    width: 15px;
    height: 15px;
    fill: var(--accent-color);
    .products-button:hover &,
    .products-button:focus & {
        fill: var(--bg-white-color);
    }
}

.products-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px;
     &:not(:last-child) {
         margin-bottom: 20px;
     }
     @media screen and (min-width: 768px) {
         width: 220px;
         &:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 20px;
        }
     }
     @media screen and (min-width: 1280px) {
        width: calc(100% / 3 - 20px);
        height: 735px;
    }
}


.products-title-name {
    font-family: Titan One;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--bg-white-color);
    margin-bottom: 30px;

    @media screen and (min-width: 1280px) {
        font-size: 30px;
        line-height: 1.13;
    }
}
.products-text {
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bg-white-color);
    width: 200px;
    margin: 0 auto 30px;

    @media screen and (min-width: 768px) {
        line-height: 1.7;
        padding-left: 11px;
        padding-right: 11px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 16px;
        width: 240px;
        padding-left: 0;
        padding-right: 0;
        margin: 0 auto 60px;
    }
}

.products-svg {
    text-align: center;
}

.products-svg-tochki {
    width: 26px;
    height: 6px;
    margin-bottom: 30px;
}

.products-container-card {
    background-color: var( --bg-icecream-color);
    border-radius: 24px;
    width: 100%;
    padding-top: 160px;
    height: 460px;
    position: absolute;
    bottom: 0;
     &.ice-coffe {
         background-color: var(--bg-icecoffee-color);
     }
     &.milkshakes {
         background-color: var(--bg-milkshakes-color);
     }
     @media screen and (min-width: 1280px) {
        height: 535px;
    }
}

.products-image {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
     
    @media screen and (min-width: 1280px) {
        top: -6%;
     }
}
